In [2]:
import glob
import pandas as pd

path =r'D:\PIAIC\Quarter 2\Assignments\1. Assingment\Assignment 2\Assignment'
filenames = glob.glob(path + "/*.csv")
dataFrames = []

for filename in filenames:
    dataFrames.append(pd.read_csv(filename))


us_census = pd.concat(dataFrames)
us_census

,location,product_type,product_description,quantity,price,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Staten Island,seeds,daisy,4.0,6.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Staten Island,seeds,calla lily,46.0,19.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Staten Island,seeds,tomato,85.0,13.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Staten Island,garden tools,rake,4.0,13.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Staten Island,garden tools,wheelbarrow,0.0,89.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,NaN,NaN,NaN,NaN,NaN,1.0,Vermont,626604.0,1.6092896174863391%,93.98306010928961%,0.9808743169398909%,0.301639344262295%,1.2387978142076501%,0.03060109289617486%,$55602.96721311475,308573M_318031F
2,NaN,NaN,NaN,NaN,NaN,2.0,Virginia,8256630.0,8.0110164981373%,63.271048430015945%,20.17599787120807%,0.21245343267695582%,5.455242150079845%,0.06471527408195847%,$72866.01341201717,4060948M_4195682F
3,NaN,NaN,NaN,NaN,NaN,3.0,Washington,6985464.0,11.140968858131506%,72.03840830449816%,3.384429065743947%,1.4107266435986163%,7.022006920415224%,0.609896193771627%,$64493.76768377254,3487725M_3497739F
4,NaN,NaN,NaN,NaN,NaN,4.0,West Virginia,1851420.0,1.290909090909089%,92.17623966942146%,3.6628099173553723%,0.15268595041322316%,0.6824380165289253%,0.02644628099173554%,$41437.11157024794,913631M_937789F
5,NaN,NaN,NaN,NaN,NaN,5.0,Wisconsin,5742117.0,6.683333333333334%,79.86400862068966%,8.195186781609202%,0.9536637931034483%,2.404238505747124%,0.020833333333333332%,$53898.889208633096,2851385M_2890732F

In [3]:
us_census.dtypes, us_census.columns

(location                object
 product_type            object
 product_description     object
 quantity               float64
 price                  float64
 Unnamed: 0             float64
 State                   object
 TotalPop               float64
 Hispanic                object
 White                   object
 Black                   object
 Native                  object
 Asian                   object
 Pacific                 object
 Income                  object
 GenderPop               object
 dtype: object,
 Index(['location', 'product_type', 'product_description', 'quantity', 'price',
        'Unnamed: 0', 'State', 'TotalPop', 'Hispanic', 'White', 'Black',
        'Native', 'Asian', 'Pacific', 'Income', 'GenderPop'],
       dtype='object'))

In [4]:
us_census.head()

,location,product_type,product_description,quantity,price,Unnamed: 0,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Staten Island,seeds,daisy,4.0,6.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Staten Island,seeds,calla lily,46.0,19.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Staten Island,seeds,tomato,85.0,13.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Staten Island,garden tools,rake,4.0,13.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Staten Island,garden tools,wheelbarrow,0.0,89.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN